.card {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  width: 230px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
  gap: 5px;
}

.card__image {
  width: 100%;
}

.card__name {

}

.card__price_prev {
  text-decoration: line-through;
  opacity: 0.7
}

.card__price-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card__description {
  --max-lines: 5;
  --line-height: 1.4;

  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;
}

.card__description:has(+ .expand-btn:not(:checked))::before {
  content: '';
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, white);
}


.expand-btn {
  height: 20px;
  position: relative;
  appearance: none;
  border: 1px solid black;
  border-radius: 0.25em;
  cursor: pointer;
  margin-top: 1rem;
  display: flex;
}

.expand-btn:hover {
  background-color: #ccc;
}

.expand-btn::before {
  position: absolute;
  right: 50%;
  top: 0;
  content: '\2BC6';
}

.expand-btn:checked::before {
  content: '\2BC5';
}

.card__description:has(+ .expand-btn:checked) {
  max-height: none;
}
