.spinner-container {
    padding: 20px;
    width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -80px;
    margin-top: -80px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-left;
    gap: 40px;
    background: var(--bg-color-opaque);
    z-index: 999;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #fcd0a1;
    border-bottom: 10px solid #fcd0a1;
    text-align: center;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.message {
    margin: 0;
    /* width: 280px; */
    color: var(--text-color)
}