.login__form {
    width: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    background: var(--bg-modal);
}

.input__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input__login,
.input__password {
    padding: 5px;
    height: 40px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid var(--accent-color);
    font-size: 14px;
    background: var(--bg-color);
    outline: none;
}

.input__login:invalid,
.input__password:invalid {
    border-color: red;
}

.input__login:placeholder-shown,
.input__password:placeholder-shown {
    border-color: #3c4856;
}

.input__submit {
    height: 35px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid #3c4856;
    color: var(--text-color);
    background: var(--bg-color);
}

.login-error {
    visibility: hidden;
    color: #786347;
}

.show {
    visibility: visible;
}
