.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color)
}

.header__content {
    padding: 10px 20px;
    width: 80%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
}

.header__auth {
    width: 170px;
    display: flex;
    gap: 15px;
}

.header__nav {
    display: flex;
    gap: 15px;
}

.header__btn {
    color: var(--bg-color);
    cursor: pointer;
    transition: 0.3s;
}

.header__btn:hover {
    opacity: 70%;
}
.logo {
    width: 70px;
}