.header {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav__btn {
    height: 30px;
    width: 100px;
    cursor: pointer;
}